[Unit]
Description=Run foreman health check every minute
Requires=foreman-check.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=5s
Persistent=true
Unit=foreman-check.service

[Install]
WantedBy=timers.target
